{
  "$schema": "https://opencode.ai/config.json",
  "model": "zen/claude-opus-4-5",
  "default_agent": "oscar",
  "keybinds": {
    "f9": "agent:prev",
    "f10": "agent:next"
  },
  "agent": {},
  "provider": {
    "zen": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "zen",
      "options": {
        "baseURL": "https://opencode.ai/zen/v1/chat/completions",
        "apiKey": "{env:ZEN_API_KEY}"
      },
      "models": {
        "deepseek-v4-flash": {
          "name": "DeepSeek V4 Flash"
        },
         "deepseek-v4-pro": {
          "name": "DeepSeek V4 Pro"
        }
      }
    }
  }
}
